apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: venkat345//my-backend:latest
        ports:
        - containerPort: 8000
        imagePullPolicy: IfNotPresent # or Always

